html {
  background-color: #0b0c10;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-color: #0b0c10;
}

.navbar {
  background-color: none;
}

.dapp-title {
  color: #feffff;
}

p {
  color: #45a29e;
}

h1 {
  color: #c5c6c7;
}

h2 {
  color: #45a29e;
}

.about {
  align-items: left;
  background: none;
  margin: 150px;
  padding: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: calc(100vh - 70px);
}

#particles {
  background-color: #0b0c10;
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #0b0c10;
}

.p-container {
  width: 100%;
  height: auto;
  position: relative;
}

.small-text {
  font-size: 15px;
}